@mixin button {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: $white;
	font-size: 35px;
	padding: 23px 60px;
	background: $red2;
	border-radius: 15px;
	text-shadow: 1px 1px 1px $text-2;
	font-weight: bold;
	border-bottom: 4px solid $red3;
	box-shadow: 0 7px 10px $text;
	letter-spacing: 4px;
	cursor: pointer;

	&:active {
		border-bottom: 2px solid $red3;
		box-shadow: 0 3px 7px $text-2;
	}
}

@mixin h3 {
	font-size: 48px;
	color: $blue;
	text-shadow: 1px 1px 2px $text-2;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}