$bg: #F5F5F5;
$bg2: #ccc;
$bg3: #BEBEBE;
$bg4: #eee;
$red: #ff0000;
$red2: #FF3300;
$red3: #AA2200;
$white: #fff;
$black: #000;
$text: #535353;
$text-2: #08090a;
$darkred: #630202;
$blue: #3ca7d9;
$blue-2: #3498DB;
$blue-3: #0e5be7;
$blue-4: #3abffd;