@import "_reset";
@import "_variable";
@import "_mixin";
@import "_modal";

body {
	font-family: 'Roboto', sans-serif;
 	font-size: 16px;
 	position: relative;
}

*, *:before, *:after {
	box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    clear: both;
}

.wrapper {
	max-width: 1000px;
	min-height: 320px;
	margin: 0 auto;
}

.border {
	border: 1px solid #000;
}

// Header =================================

header {
	background: url("../img/bgheader.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100vh;
	position: relative;

	.header {
		height: 100vh;
		padding: 50px 15px 0;
	}

	.arrow-up {
		// display: none;
		display: inline-block;
		width: 24px;
		height: 46px;
		background: url("../img/arrow-up.png");
		position: absolute;
		right: 3%;
		bottom: 3%;
		opacity: 1;

		animation: arrow 2s ease-in-out infinite;

		transition: all ease .5s;

		&.arrow-none {
			display: none;
		}
	}

	@keyframes arrow {
		20% { opacity: 1; }
		50% { opacity: 0; }
		80% { opacity: 1; }
	}

	h1 {
		font-size: 55px;
		color: $white;
		text-shadow: 1px 1px 6px $text-2;
		text-align: center;
		text-transform: uppercase;
		line-height: 1.3;
		letter-spacing: 2px;

		span {
			color: $red2;
			font-size: 70px;
			text-shadow: 1px 1px 10px $white;
		}
	}

	ul {
		display: inline-block;
		text-align: left;
		background: rgba(255,255,255,.5);
		padding: 17px;
		border-radius: 15px;
		margin-top: 35px;
		position: relative;

		&::after {
			content: '';
			display: block;
			width: 163px;
			height: 81px;
			background: url("../img/arrow.png");
			position: absolute;
			bottom: 0;
			right: -180px;
		}

		li {
			font-size: 27px;
			padding-bottom: 10px;
			color: $darkred;

			&:last-child {
				padding-bottom: 0;
			}

			&::before {
				content: '';
				display: inline-block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 9px 0 9px 16px;
				border-color: transparent transparent transparent $red2;
				position: relative;
				right: 7px;
			}
		}
	}

	h2 {
		font-size: 62px;
		color: $white;
		text-shadow: 1px 1px 10px $text-2;
		text-align: center;
		text-transform: uppercase;
		line-height: 1.3;
		letter-spacing: 2px;
		margin: 50px 0;
	}

	.block-bottom {
		padding-top: 138px;
	}

	.bottom-left {
		float: left;
		width: 326px;
		height: 215px;
		display: inline-block;
		text-align: center;
		position: relative;
		bottom: 14px;

		.price {
			font-size: 35px;
			text-shadow: 1px 1px 10px $text-2;
			color: $white;
			letter-spacing: 2px;

			span {
				color: $red2;
				font-size: 54px;
				text-shadow: 1px 1px 10px $white;
				font-weight: bold;	
			}
		}

		.free {
			display: inline-block;
			background: rgba(255,255,255,.5);
			padding: 16px 0;
			width: 100%;
			border-radius: 15px;
			border: 1px solid $red2;
			margin: 10px 0;

			p {
				color: $red2;
				font-size: 22px;
				text-transform: uppercase;
				font-weight: bold;
				letter-spacing: 1px;
			}
		}

		.button {
			position: relative;
		
			&:active {
				top: 2px;
			}

			a {
				@include button;
			}
		}
	}

	.icon {
		float: right;
		display: inline-block;
		background: rgba(255,255,255,.4);
		padding: 14px;
		border-radius: 15px;

		.block-1,
		.block-2,
		.block-3,
		.block-4,
		.block-5 {
			text-align: center;
			width: 96px;
			float: left;
			margin: 0 12px;
		}

		p {
			color: $darkred;
			font-size: 19px;

			&::before {
				content: '';
				display: block;
				width: 100%;
				height: 5px;
				background-color: $red2;
				margin: 8px 0;
			}
		}

		.img-icon {
			background: url("../img/icon_sprite.png");
			display: inline-block;
			width: 75px;
			height: 75px;
		}

		.icon-2 {
			background-position: -75px 0;
		}

		.icon-3 {
			background-position: -150px 0;
		}

		.icon-4 {
			background-position: -225px 0;
		}

		.icon-5 {
			background-position: -300px 0;
		}
	}
}


// Description =================================
.rewview {
	background-image: url('../img/bg_paralax_1.jpg');
	background-repeat: repeat-x;
	background-attachment: fixed;
	border-top: 1px solid $red2;
}

.description {
	padding: 50px 15px;

	h3 {
		@include h3;
		margin-bottom: 50px;
	}

	.block_1 {
		float: left;
		display: inline-block;
		width: 39%;
		padding: 0 15px 0 80px;
	}

	.img {
		display: inline-block;
		width: 22%;

		img {
			width: 100%;
		}
	}

	.block_2 {
		float: right;
		display: inline-block;
		width: 39%;
		padding: 0 80px 0 15px;
		text-align: right;
	}

	p {
		margin-bottom: 40px;
		font-size: 20px;
		color: $text_2;
		line-height: 1.3;

		&:last-child {
			margin-bottom: 0;
		}
	}
}


// Slider =================================

.slider {
	// max-height: 714px;
	border-top: 1px solid $red2;

	background: #9468c3;
    background: linear-gradient(to bottom,  #9468c3 0%,#5a77da 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9468c3', endColorstr='#5a77da',GradientType=0 );


	.carousel-3d {
		padding-top: 50px;
	}

	.photos {
		display: none;
		padding: 30px 15px 40px;
		text-align: center;

		.foto {
			display: inline-block;
		}

		// .wrap {
		// 	position: relative;
		//padding-top: 80%;
		// }

		// img {
		// 	display: inline-block;
		// 	position: absolute;
		// 	left: 0;
		// 	top: 0;
		// 	width: 100%;
		// 	height: auto;
		// }

		img {
			display: inline-block;
			height: auto;
  			width: 100%;
  			max-width: 560px;
		}
	}
}


// Specifications =========================

.specifications {
	border-top: 1px solid $red2;
	background: $bg;

	.specific {
		padding: 50px 15px;
	}

	.block-left {
		width: 44%;	
		float: left;
		margin-left: 6%;
	}

	.block-right {
		width: 44%;
		float: right;
		margin-left: 6%;
	}

	h3 {
		font-size: 34px;
		margin-bottom: 30px;
		color: $text;
	}

	p {
		font-size: 21px;
	    color: $text;
	    margin-bottom: 20px;

	    &:last-child {
			margin-bottom: 0;
		}

		&::before {
			content: '';
			display: inline-block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 9px 0 9px 16px;
			border-color: transparent transparent transparent $red2;
			margin-right: 7px;
			position: relative;
			top: 1px;
		}
	}
}


// Steps =====================================

.work {
	background-image: url('../img/bg_paralax_1.jpg');
	background-repeat: repeat-x;
	background-attachment: fixed;
	border-top: 1px solid $red2;

	.steps {
		padding: 50px 15px;
		text-align: center;
	}

	h3 {
		@include h3;
		margin-bottom: 30px;
	}

	.block {
		display: inline-block;
	}

	.block-1,
	.block-2,
	.block-3,
	.block-4 {
		display: inline-block;
		margin: 0 4px;
	}

	.block-top-1,
	.block-top-2,
	.block-top-3,
	.block-top-4 {
		width: 220px;
		height: 300px;
		margin-bottom: 8px;
		display: inline-block;
	}

	.top {
		background: $blue-3;
		height: 180px;

		.icon {
			width: 166px;
			height: 135px;
			margin-top: 24px;
			display: inline-block;
			background: url("../img/step-sprite.png");
		}

		.icon-2 {
			background-position: -166px 0;
		}

		.icon-3 {
			background-position: -332px 0;
		}

		.icon-4 {
			background-position: -498px 0;
		}
	}

	.bottom {
		background: $blue-4;
		height: 120px;
		position: relative;

		p {
			font-size: 23px;
			color: $text-2;
			line-height: 1.1;
			padding: 0 10px;
			position: absolute;
		    top: 50%;
		    left: 50%;
		    margin-right: -50%;
		    transform: translate(-50%, -50%);
		}
	}

	.step-1,
	.step-2,
	.step-3,
	.step-4 {
		width: 230px;
		height: 100px;
		border-radius: 5px;
		display: inline-block;
	}

	.step-1 {
		background: rgba(230,67,52,.8);
	}

	.step-2 {
		height: 170px;
		background: rgba(65,132,240,.8);
	}

	.step-3 {
		height: 240px;
		background: rgba(247,186,5,.8);
	}

	.step-4 {
		height: 310px;
		background: rgba(51,164,81,.8);
	}
}


// Advantages =============================

.advantages {
	background-image: url('../img/bg_paralax_2.jpg');
	background-repeat: repeat-x;
	background-size: cover;
	background-attachment: fixed;
	border-top: 1px solid $red2;

	.adv {
		padding: 50px 15px;
		text-align: center;
	}

	h3 {
		@include h3;
		margin-bottom: 50px;
	}

	.block-1 {
		display: inline-block;
		max-width: 800px;
		margin-bottom: 50px;
		text-align: left;

		span {
			font-weight: bold;
			color: $white;
			position: relative;
			right: 27px;
		}

		p {
			font-size: 25px;
			color: $text;
			line-height: 1.3;
			margin-bottom: 35px;
			display: inline-block;

			&:last-child {
				margin-bottom: 0;
			}

			&::before {
				content: '';
				display: inline-block;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background: #5a77da;
				float: left;
				margin: -4px 0 0 0;
			}

			span {
				font-size: 25px;
			}
		}	
	}

	.big {
		font-size: 40px;
		text-transform: uppercase;
		color: $text;
		font-weight: bold;
		margin-bottom: 35px;
	}

	.text {
		text-transform: uppercase;
		font-size: 25px;
		color: $text;
		line-height: 1.3;
	}

	.button {
		width: 326px;
		height: 85px;
		margin: 30px auto 0;
		position: relative;

		&:active {
			top: 2px;
		}

		a {
			@include button;
		}
	}
}


// Footer ================================

footer {
	text-align: center;
	background: #5a77da;
	border-top: 1px solid $red2; 

	p {
		padding: 40px 0;
		color: $white;
	}
}


@import "_slider";
@import "_slick";
@import "_media";




