/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none; }

.modal {
  position: relative;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  position: fixed;
  top: 40%;
  left: 50%;
  z-index: 1000;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none; }
  .modal .block-top {
    text-align: right; }
  .modal .close {
    width: 16px;
    height: 16px;
    background: url("../img/close.png");
    display: inline-block;
    cursor: pointer; }
    .modal .close:hover {
      background-position: -16px 0; }
  .modal .form-group {
    margin-bottom: 40px; }
    .modal .form-group label {
      display: inline-block;
      font-size: 22px;
      margin-bottom: 10px; }
    .modal .form-group input {
      display: block;
      width: 100%;
      padding: 10px;
      font-size: 20px;
      outline: none; }
  .modal .form-check {
    margin-bottom: 90px; }
    .modal .form-check label,
    .modal .form-check input {
      display: inline-block; }
    .modal .form-check label {
      font-size: 16px; }
  .modal .btn {
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: -115px;
    padding: 15px 35px;
    background: #FF3300;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    border-radius: 10px;
    text-shadow: 1px 1px 1px #08090a;
    outline: none;
    border: 0;
    letter-spacing: 1px;
    cursor: pointer;
    border-bottom: 4px solid #AA2200;
    -webkit-box-shadow: 0 7px 10px #535353;
            box-shadow: 0 7px 10px #535353; }
    .modal .btn:active {
      border-bottom: 2px solid #AA2200;
      -webkit-box-shadow: 0 3px 7px #08090a;
              box-shadow: 0 3px 7px #08090a;
      bottom: 23px; }
  .modal .btn-inactive {
    background: #AA2200;
    color: #ccc;
    border-bottom: 2px solid #AA2200;
    -webkit-box-shadow: 0 3px 7px #08090a;
            box-shadow: 0 3px 7px #08090a;
    bottom: 23px; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  position: relative; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.clearfix::before,
.clearfix::after {
  content: "";
  display: table; }

.clearfix::after {
  clear: both; }

.clearfix {
  clear: both; }

.wrapper {
  max-width: 1000px;
  min-height: 320px;
  margin: 0 auto; }

.border {
  border: 1px solid #000; }

header {
  background: url("../img/bgheader.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  position: relative; }
  header .header {
    height: 100vh;
    padding: 50px 15px 0; }
  header .arrow-up {
    display: inline-block;
    width: 24px;
    height: 46px;
    background: url("../img/arrow-up.png");
    position: absolute;
    right: 3%;
    bottom: 3%;
    opacity: 1;
    -webkit-animation: arrow 2s ease-in-out infinite;
            animation: arrow 2s ease-in-out infinite;
    -webkit-transition: all ease .5s;
    transition: all ease .5s; }
    header .arrow-up.arrow-none {
      display: none; }
@-webkit-keyframes arrow {
  20% {
    opacity: 1; }
  50% {
    opacity: 0; }
  80% {
    opacity: 1; } }
@keyframes arrow {
  20% {
    opacity: 1; }
  50% {
    opacity: 0; }
  80% {
    opacity: 1; } }
  header h1 {
    font-size: 55px;
    color: #fff;
    text-shadow: 1px 1px 6px #08090a;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.3;
    letter-spacing: 2px; }
    header h1 span {
      color: #FF3300;
      font-size: 70px;
      text-shadow: 1px 1px 10px #fff; }
  header ul {
    display: inline-block;
    text-align: left;
    background: rgba(255, 255, 255, 0.5);
    padding: 17px;
    border-radius: 15px;
    margin-top: 35px;
    position: relative; }
    header ul::after {
      content: '';
      display: block;
      width: 163px;
      height: 81px;
      background: url("../img/arrow.png");
      position: absolute;
      bottom: 0;
      right: -180px; }
    header ul li {
      font-size: 27px;
      padding-bottom: 10px;
      color: #630202; }
      header ul li:last-child {
        padding-bottom: 0; }
      header ul li::before {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 0 9px 16px;
        border-color: transparent transparent transparent #FF3300;
        position: relative;
        right: 7px; }
  header h2 {
    font-size: 62px;
    color: #fff;
    text-shadow: 1px 1px 10px #08090a;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.3;
    letter-spacing: 2px;
    margin: 50px 0; }
  header .block-bottom {
    padding-top: 138px; }
  header .bottom-left {
    float: left;
    width: 326px;
    height: 215px;
    display: inline-block;
    text-align: center;
    position: relative;
    bottom: 14px; }
    header .bottom-left .price {
      font-size: 35px;
      text-shadow: 1px 1px 10px #08090a;
      color: #fff;
      letter-spacing: 2px; }
      header .bottom-left .price span {
        color: #FF3300;
        font-size: 54px;
        text-shadow: 1px 1px 10px #fff;
        font-weight: bold; }
    header .bottom-left .free {
      display: inline-block;
      background: rgba(255, 255, 255, 0.5);
      padding: 16px 0;
      width: 100%;
      border-radius: 15px;
      border: 1px solid #FF3300;
      margin: 10px 0; }
      header .bottom-left .free p {
        color: #FF3300;
        font-size: 22px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px; }
    header .bottom-left .button {
      position: relative; }
      header .bottom-left .button:active {
        top: 2px; }
      header .bottom-left .button a {
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 35px;
        padding: 23px 0;
        width: 100%;
        background: #FF3300;
        border-radius: 15px;
        text-shadow: 1px 1px 1px #08090a;
        font-weight: bold;
        border-bottom: 4px solid #AA2200;
        -webkit-box-shadow: 0 7px 10px #535353;
                box-shadow: 0 7px 10px #535353;
        letter-spacing: 4px;
        cursor: pointer;
        outline: none;
        border: 0; }
        header .bottom-left .button a:active {
          border-bottom: 2px solid #AA2200;
          -webkit-box-shadow: 0 3px 7px #08090a;
                  box-shadow: 0 3px 7px #08090a; }
  header .icon {
    float: right;
    display: inline-block;
    background: rgba(255, 255, 255, 0.4);
    padding: 14px;
    border-radius: 15px; }
    header .icon .block-1,
    header .icon .block-2,
    header .icon .block-3,
    header .icon .block-4,
    header .icon .block-5 {
      text-align: center;
      width: 96px;
      float: left;
      margin: 0 12px; }
    header .icon p {
      color: #630202;
      font-size: 19px; }
      header .icon p::before {
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        background-color: #FF3300;
        margin: 8px 0; }
    header .icon .img-icon {
      background: url("../img/icon_sprite.png");
      display: inline-block;
      width: 75px;
      height: 75px; }
    header .icon .icon-2 {
      background-position: -75px 0; }
    header .icon .icon-3 {
      background-position: -150px 0; }
    header .icon .icon-4 {
      background-position: -225px 0; }
    header .icon .icon-5 {
      background-position: -300px 0; }

.rewview {
  background-image: url("../img/bg_paralax_1.jpg");
  background-repeat: repeat-x;
  background-attachment: fixed;
  border-top: 1px solid #FF3300; }

.description {
  padding: 50px 15px; }
  .description h3 {
    font-size: 48px;
    color: #3ca7d9;
    text-shadow: 1px 1px 2px #08090a;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2;
    margin-bottom: 50px; }
  .description .block_1 {
    float: left;
    display: inline-block;
    width: 39%;
    padding: 0 15px 0 80px; }
  .description .img {
    display: inline-block;
    width: 22%; }
    .description .img img {
      width: 100%; }
  .description .block_2 {
    float: right;
    display: inline-block;
    width: 39%;
    padding: 0 80px 0 15px;
    text-align: right; }
  .description p {
    margin-bottom: 40px;
    font-size: 20px;
    color: #08090a;
    line-height: 1.3; }
    .description p:last-child {
      margin-bottom: 0; }

.slider {
  border-top: 1px solid #FF3300;
  background: #9468c3;
  background: -webkit-gradient(linear, left top, left bottom, from(#9468c3), to(#5a77da));
  background: linear-gradient(to bottom, #9468c3 0%, #5a77da 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9468c3', endColorstr='#5a77da',GradientType=0 ); }
  .slider .carousel-3d {
    padding-top: 50px; }
  .slider .photos {
    display: none;
    padding: 30px 15px 40px;
    text-align: center; }
    .slider .photos .foto {
      display: inline-block; }
    .slider .photos img {
      display: inline-block;
      height: auto;
      width: 100%;
      max-width: 560px; }

.specifications {
  border-top: 1px solid #FF3300;
  background: #F5F5F5; }
  .specifications .specific {
    padding: 50px 15px; }
  .specifications .block-left {
    width: 44%;
    float: left;
    margin-left: 6%; }
  .specifications .block-right {
    width: 44%;
    float: right;
    margin-left: 6%; }
  .specifications h3 {
    font-size: 34px;
    margin-bottom: 30px;
    color: #535353; }
  .specifications p {
    font-size: 21px;
    color: #535353;
    margin-bottom: 20px; }
    .specifications p:last-child {
      margin-bottom: 0; }
    .specifications p::before {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 9px 0 9px 16px;
      border-color: transparent transparent transparent #FF3300;
      margin-right: 7px;
      position: relative;
      top: 1px; }

.work {
  background-image: url("../img/bg_paralax_1.jpg");
  background-repeat: repeat-x;
  background-attachment: fixed;
  border-top: 1px solid #FF3300; }
  .work .steps {
    padding: 50px 15px;
    text-align: center; }
  .work h3 {
    font-size: 48px;
    color: #3ca7d9;
    text-shadow: 1px 1px 2px #08090a;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2;
    margin-bottom: 30px; }
  .work .block {
    display: inline-block; }
  .work .block-1,
  .work .block-2,
  .work .block-3,
  .work .block-4 {
    display: inline-block;
    margin: 0 4px; }
  .work .block-top-1,
  .work .block-top-2,
  .work .block-top-3,
  .work .block-top-4 {
    width: 220px;
    height: 300px;
    margin-bottom: 8px;
    display: inline-block; }
  .work .top {
    background: #0e5be7;
    height: 180px; }
    .work .top .icon {
      width: 166px;
      height: 135px;
      margin-top: 24px;
      display: inline-block;
      background: url("../img/step-sprite.png"); }
    .work .top .icon-2 {
      background-position: -166px 0; }
    .work .top .icon-3 {
      background-position: -332px 0; }
    .work .top .icon-4 {
      background-position: -498px 0; }
  .work .bottom {
    background: #3abffd;
    height: 120px;
    position: relative; }
    .work .bottom p {
      font-size: 23px;
      color: #08090a;
      line-height: 1.1;
      padding: 0 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  .work .step-1,
  .work .step-2,
  .work .step-3,
  .work .step-4 {
    width: 230px;
    height: 100px;
    border-radius: 5px;
    display: inline-block; }
  .work .step-1 {
    background: rgba(230, 67, 52, 0.8); }
  .work .step-2 {
    height: 170px;
    background: rgba(65, 132, 240, 0.8); }
  .work .step-3 {
    height: 240px;
    background: rgba(247, 186, 5, 0.8); }
  .work .step-4 {
    height: 310px;
    background: rgba(51, 164, 81, 0.8); }

.advantages {
  background-image: url("../img/bg_paralax_2.jpg");
  background-repeat: repeat-x;
  background-size: cover;
  background-attachment: fixed;
  border-top: 1px solid #FF3300; }
  .advantages .adv {
    padding: 50px 15px;
    text-align: center; }
  .advantages h3 {
    font-size: 48px;
    color: #3ca7d9;
    text-shadow: 1px 1px 2px #08090a;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2;
    margin-bottom: 50px; }
  .advantages .block-1 {
    display: inline-block;
    max-width: 800px;
    margin-bottom: 50px;
    text-align: left; }
    .advantages .block-1 span {
      font-weight: bold;
      color: #fff;
      position: relative;
      right: 27px; }
    .advantages .block-1 p {
      font-size: 25px;
      color: #535353;
      line-height: 1.3;
      margin-bottom: 35px;
      display: inline-block; }
      .advantages .block-1 p:last-child {
        margin-bottom: 0; }
      .advantages .block-1 p::before {
        content: '';
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #5a77da;
        float: left;
        margin: -4px 0 0 0; }
      .advantages .block-1 p span {
        font-size: 25px; }
  .advantages .big {
    font-size: 40px;
    text-transform: uppercase;
    color: #535353;
    font-weight: bold;
    margin-bottom: 35px; }
  .advantages .text {
    text-transform: uppercase;
    font-size: 25px;
    color: #535353;
    line-height: 1.3; }
  .advantages .button {
    width: 326px;
    height: 85px;
    margin: 30px auto 0;
    position: relative; }
    .advantages .button:active {
      top: 2px; }
    .advantages .button a {
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      font-size: 35px;
      padding: 23px 0;
      width: 100%;
      background: #FF3300;
      border-radius: 15px;
      text-shadow: 1px 1px 1px #08090a;
      font-weight: bold;
      border-bottom: 4px solid #AA2200;
      -webkit-box-shadow: 0 7px 10px #535353;
              box-shadow: 0 7px 10px #535353;
      letter-spacing: 4px;
      cursor: pointer;
      outline: none;
      border: 0; }
      .advantages .button a:active {
        border-bottom: 2px solid #AA2200;
        -webkit-box-shadow: 0 3px 7px #08090a;
                box-shadow: 0 3px 7px #08090a; }

footer {
  text-align: center;
  background: #5a77da;
  border-top: 1px solid #FF3300; }
  footer p {
    padding: 40px 0;
    color: #fff; }

.carousel-3d {
  padding: 20px;
  -webkit-perspective: 500px;
  perspective: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden; }

.carousel-3d > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.carousel-3d figure {
  margin: 0;
  width: 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s; }

.carousel-3d figure img,
.carousel-3d figure div {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

.carousel-3d figure div:not(:first-of-type),
.carousel-3d figure img:not(:first-of-type) {
  position: absolute;
  left: 0;
  top: 0; }

.carousel-3d nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 0; }

.carousel-3d nav button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 5px;
  cursor: pointer;
  color: #337AB7;
  background: #BFE2FF;
  border: 1px solid #337AB7;
  padding: 5px 10px;
  font-weight: bold;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

.carousel-3d nav button:hover {
  color: #FFF;
  background: #337AB7; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Arrows */
.slick-prev,
.slick-next {
  border: 0;
  color: transparent;
  font-size: 0;
  cursor: pointer;
  width: 26px;
  height: 48px;
  background: url("../img/arrows-2.png");
  position: absolute;
  top: 50%;
  margin-top: -24px;
  z-index: 1; }
  .slick-prev:focus,
  .slick-next:focus {
    outline: 0; }
  .slick-prev:hover,
  .slick-next:hover {
    cursor: pointer; }

.slick-prev {
  left: 25px; }

.slick-next {
  background-position: -26px 0;
  right: 25px; }

/* Dots */
.slick-dots {
  display: inline-block;
  position: absolute;
  bottom: 16px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  list-style: none;
  padding: 0;
  margin: 0; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      width: 10px;
      height: 10px;
      background: #ccc;
      border-radius: 50%;
      border: 0;
      padding: 0;
      opacity: .6;
      font-size: 0;
      color: transparent; }
      .slick-dots li button:hover {
        cursor: pointer;
        opacity: 1; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
    .slick-dots li.slick-active button {
      background: #FF3300;
      opacity: 1; }

@media only screen and (max-width: 1024px) {
  header .header {
    padding: 30px 15px 0; }
  header h1 {
    font-size: 45px;
    line-height: 1.1; }
  header h2 {
    font-size: 50px;
    line-height: 1.1; }
  header .arrow {
    top: 270px;
    left: 680px; }
  header .block-bottom {
    padding-top: 10px; } }
@media only screen and (max-width: 1000px) {
  header .block-bottom {
    text-align: center; }
  header .bottom-left {
    float: none; }
  header .icon {
    float: none;
    margin-bottom: 20px; } }
@media only screen and (max-width: 1015px) {
  .work .step-1,
  .work .step-2,
  .work .step-3,
  .work .step-4 {
    display: none; } }
@media only screen and (max-width: 900px) {
  header {
    text-align: center; }
    header ul::after {
      display: none; }

  .description {
    padding: 30px 15px; }
    .description h3 {
      font-size: 40px;
      margin-bottom: 30px; }
    .description .block_1,
    .description .block_2 {
      padding: 0 15px 0 15px; }

  .advantages .adv {
    padding: 30px 15px; }
  .advantages h3 {
    font-size: 40px;
    margin-bottom: 30px; }

  .work .steps {
    padding: 30px 15px; }
  .work h3 {
    font-size: 40px; } }
@media only screen and (max-width: 840px) {
  header {
    background: url("../img/bgheader-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    header h1 {
      font-size: 40px; }
      header h1 span {
        font-size: 50px; }
    header h2 {
      font-size: 45px;
      margin: 30px 0; }

  footer p {
    padding: 20px 0; } }
@media only screen and (max-width: 760px) {
  .slider .carousel-3d {
    display: none; }
  .slider .photos {
    display: block; }

  .description .img {
    display: none; }
  .description .block_1,
  .description .block_2 {
    float: none;
    display: block;
    width: 100%;
    padding: 0;
    text-align: justify; }
  .description .block_1 {
    margin-bottom: 20px; }
  .description p {
    margin-bottom: 20px; } }
@media only screen and (max-width: 710px) {
  header h1 {
    font-size: 32px; }
    header h1 span {
      font-size: 42px; }
  header h2 {
    font-size: 32px;
    margin: 20px 0; }
  header ul li {
    font-size: 24px; }
    header ul li::before {
      top: 1px; } }
@media only screen and (max-width: 680px) {
  header .bottom-left {
    margin-top: 30px; }
  header .icon {
    display: none; }

  .specifications {
    text-align: center; }
    .specifications .specific {
      padding: 20px 15px; }
    .specifications .block-left {
      margin-bottom: 30px; }
    .specifications .block-left,
    .specifications .block-right {
      width: 400px;
      display: inline-block;
      float: none;
      margin-left: 0;
      text-align: left; }
    .specifications h3 {
      margin-bottom: 20px; } }
@media only screen and (max-width: 500px) {
  header .header {
    padding: 15px 15px 0; }
  header ul {
    margin-top: 15px; }
    header ul li {
      font-size: 22px; }
  header h2 {
    margin: 10px 0 0; }
  header .block-bottom {
    padding-top: 0; }

  .description {
    padding: 20px 15px; }
    .description h3 {
      font-size: 30px;
      margin-bottom: 20px; }

  .advantages .adv {
    padding: 20px 15px; }
  .advantages h3 {
    font-size: 30px;
    margin-bottom: 20px; }
  .advantages .block-1 {
    margin-bottom: 20px; }
    .advantages .block-1 p {
      font-size: 20px;
      margin-bottom: 25px; }
  .advantages .big {
    margin-bottom: 20px; }

  .work .steps {
    padding: 20px 15px; }
  .work h3 {
    font-size: 30px;
    margin-bottom: 20px; } }
@media only screen and (max-width: 460px) {
  .modal {
    width: 290px;
    padding: 10px; }
    .modal .form-group {
      margin-bottom: 14px; }
      .modal .form-group label {
        display: inline-block;
        font-size: 16px;
        margin-bottom: 2px; }
      .modal .form-group input {
        padding: 2px; }
    .modal .form-check {
      margin-bottom: 60px; }
      .modal .form-check label {
        font-size: 12px; }
    .modal .btn {
      bottom: 14px;
      margin-left: -90px;
      padding: 10px 25px;
      font-size: 20px; }
      .modal .btn:active {
        bottom: 12px; } }
@media only screen and (max-width: 440px) {
  .specifications .block-left,
  .specifications .block-right {
    width: 280px; } }
@media only screen and (max-width: 416px) {
  header .block-bottom {
    padding-top: 0; }
  header .bottom-left {
    width: 265px; }
    header .bottom-left .price {
      font-size: 30px;
      letter-spacing: 1px; }
      header .bottom-left .price span {
        font-size: 35px; }
    header .bottom-left .free {
      padding: 15px 0; }
      header .bottom-left .free p {
        font-size: 17px; }
    header .bottom-left .button a {
      font-size: 28px; }

  .slider .photos .foto {
    width: 265px; }

  .advantages .big {
    font-size: 30px; }
  .advantages .text {
    font-size: 20px; }
  .advantages .button {
    width: 265px; }
    .advantages .button a {
      font-size: 28px; } }
@media only screen and (max-width: 370px) {
  header h1 {
    font-size: 28px; }
    header h1 span {
      font-size: 30px; }
  header h2 {
    font-size: 28px; } }
